:root {
    
}

* {
  
}

html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
  
}

main {
    font-size: large;
    text-align: justify;
}

main section header {
    margin-top: 15px;
    margin-bottom: 5px;
}

main section footer {
    margin-top: 5px;
    margin-bottom: 15px;
}

main section header h2 {
    
}

main section article {
    padding: 12px;
}

main section article p {
    padding-top: 8px;
    padding-bottom: 8px;
}

#smart-aside, #main-menu {
    position: sticky;
    top: 15px;
}

*[title] {
  cursor: help;
}

abbr {
  text-decoration: underline;
  font-weight: bold;
}

footer {
  font-style: italic;
  font-style: small;
  margin: auto;
  width: 100%;
  text-align: right;
}

figure, figure img {
  max-width: 100%;
}

figure {
  border: 2px dashed rgba(225, 225, 225, 0.5);
  box-shadow: 6px 6px 3px 3px rgba(225, 225, 225, 0.8);
  transition: visibility 10s 1s;
}

figure img {
  padding: 5px;
}

figure figcaption {
  background-color: rgba(225, 225, 225, 0.8);
  text-align: right;
  font-size: small;
  font-style: italic;
}
