:root {
    
}

* {
  
}

html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
  
}

main {
    font-size: large;
    text-align: justify;
    max-height: available;
    box-shadow: 10px 10px 20px 20px var(--bs-light) inset;
    max-height: 500; // @TODO
    overflow: auto;
}

main section header {
    margin-top: 15px;
    margin-bottom: 5px;
}

main section footer {
    margin-top: 5px;
    margin-bottom: 15px;
}

main section header h2 {
    
}

main section article {
    padding: 12px;
}

main section article p {
    padding-top: 8px;
    padding-bottom: 8px;
}

#smart-aside {
    position: sticky;
}

*[title] {
  cursor: help;
}

abbr {
  text-decoration: underline;
  font-weight: bold;
}

footer {
  font-style: italic;
  font-style: small;
  margin: auto;
  width: 100%;
  text-align: right;
}
